.product-detail {
  --label-column-background-color: #f0f0f0;
  --label-column-border-color: #f0f0f0;

  table {
    table-layout: fixed;
  }

  tbody tr td {
    padding: 1rem;
    border-bottom: solid 1px var(--label-column-border-color);
  }

  tbody tr td:nth-child(1) {
    background-color: var(--label-column-background-color);
    text-align: end;
  }
}
